alias prtime="open 'https://bitbucket.org/tdalabs/deal-worker/pull-requests/new?source=dev&dest=qa' && open 'https://bitbucket.org/tdalabs/deal-worker/pull-requests/new?source=qa&dest=master'"
alias prtimeq="open 'https://bitbucket.org/tdalabs/deal-worker/pull-requests/new?source=dev&dest=qa'" 
alias prtimep="open 'https://bitbucket.org/tdalabs/deal-worker/pull-requests/new?source=qa&dest=master'" 
alias gbt="grunt clean && grunt && python run_tests.py ~/bin/google_appengine/ ./out/  out/lib/"
alias huetoggle="node ~/utilities/huetoggle"
alias myip="curl ipinfo.io/ip"
alias vroom="cd ~/Development/vroom"
alias tf="terraform"
alias rswifi="networksetup -setairportpower en0 off && sleep 2 && networksetup -setairportpower en0 on"
alias rswf="networksetup -setairportpower en0 off && sleep 2 && networksetup -setairportpower en0 on"
alias playground="cd /Users/colinmeret/Development/playground/"
alias gam="/Users/colinmeret/bin/gam/gam"
