[alias]
  st = status
  pr = pull --rebase
	co = checkout
  cam = commit -am 
  fix = "!f() { git diff --name-only | uniq ; } ; vi `f`"
[core]
	editor = vim
	excludesfile = /Users/colinmeret/.gitignore_global
[user]
	name = Colin Meret
	email = colin.meret@splashthat.com
[push]
	default = simple
[color]
	ui = auto
